# Note: Sphinx needs to be manually installed before running `setup.py`
# to avoid issues importing `sphinxcontrib.applehelp`.
Sphinx >=2, <7

# Pin dependencies to versions known to work
sphinxcontrib.applehelp < 1.0.8
sphinxcontrib.devhelp < 1.0.6
sphinxcontrib.htmlhelp < 2.0.5
sphinxcontrib.serializinghtml < 1.1.10
sphinxcontrib.qthelp < 1.0.7
